.ns-body {
    display: grid;
    grid-template-columns: 3fr 1fr;

}
.ns-header {
    grid-column-start: 1;
    grid-column-end: 3;
}

.ns-carousel-inner {
    width: 50%;
    margin: 0 auto;
}

.ns-img-carousel {
    height: 250px;
    margin: 0 auto;
}
